fastapi
uvicorn[standard]
pydantic-settings
langchain
langchain-openai
langgraph
langgraph-checkpoint-sqlite
python-dotenv
pytest
httpx
gunicorn
langchain-community
langchain-chroma
langchain-upstage
langchain-text-splitters
rank_bm25
chromadb
langchain-classic
